
@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="light-style  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="~/Content/" data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Vehiqilla</title>


    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://1.envato.market/vuexy_admin">


    <!-- End Google Tag Manager -->
    <!-- Favicon -->
    <!-- Favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/content/favicons/favicon.ico' />
    <link rel="apple-touch-icon" sizes="57x57" href="/content/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/content/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/content/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/content/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/content/favicons/favicon-16x16.png">
    <link rel="manifest" href="/content/favicons/manifest.json">

    <!-- Icons -->
    <link rel="stylesheet" href="~/Content/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/Content/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="~/Content/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Content/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="~/Content/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="~/Content/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/Content/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Content/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/Content/vendor/libs/typeahead-js/typeahead.css" />


    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/Content/vendor/css/pages/page-misc.css">
    <!-- Helpers -->
    <script src="~/Content/vendor/js/helpers.js"></script>

    <script src="~/Content/js/config.js"></script>
</head>

<body>


    <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Content -->
    <!--Under Maintenance -->
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-1 mx-2">Invalid Token! </h2>
            <p class="mb-4 mx-2">
                Your link is either expired or is invalid. Please contact Support.
            </p>
            <button type="button" style="font-size:28px;min-width:200px" class="btn btn-danger">
                 ERROR
            </button>
            <div class="mt-4">
                <a href="https://vehiqilla.com">
                    <img src="~/Content/img/logo.png" alt="Vehiqilla" width="550" class="img-fluid">
                    
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid misc-bg-wrapper misc-under-maintenance-bg-wrapper">
        <img src="~/Content/img/illustrations/bg-shape-image-light.png" alt="page-misc-under-maintenance" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.html">
    </div>
    <!-- /Under Maintenance -->
    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/Content/vendor/libs/jquery/jquery.js"></script>
    <script src="~/Content/vendor/libs/popper/popper.js"></script>
    <script src="~/Content/vendor/js/bootstrap.js"></script>
    <script src="~/Content/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/vendor/libs/node-waves/node-waves.js"></script>

    <script src="~/Content/vendor/libs/hammer/hammer.js"></script>
    <script src="~/Content/vendor/libs/i18n/i18n.js"></script>
    <script src="~/Content/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="~/Content/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="~/Content/js/main.js"></script>

    <!-- Page JS -->



</body>


</html>

